.equipo{
    width: 100%;
    background: #fff;
    top: 100px;
    position: relative;
    z-index: 2;
    .titulo{
        width: 50%;
        margin: auto;
        margin-bottom: 20px;
        p{
            text-align: center;
            font-size: 22px;
        }
        .sub{
            font-size: 18px;
            font-weight: 300;
            color:#707070;
        }
    }
    .personas{
        width: 90%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-end;
        .persona{
            width: 20%;
            background: #f7f7f7;
            margin-left: 30px;
            margin-right: 30px;
            margin-bottom: 20px;
            border-radius: 15px;
            overflow: hidden;
            box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.6);
            .foto{
                width: 100%;
                overflow: hidden;
                img{
                    max-width: 100%;
                }
            }
            .texto{
                padding: 10px;
                .name{
                    font-weight: 600;
                    font-size: 18px;
                }
                .job{
                    font-weight: 300;
                    color:$azul;
                }
            }
        }
    }
}