.equipo{
    width: 90%;
    margin:auto;
    margin-bottom:20px;
    .titulo{
        text-align: center;
        font-weight: 600;
        font-size: 25px;
        padding: 12px;
        margin: 12px 0px;
        p{
            color:$azul;
        }
    }
    .personas{
        width: 100%;
        display: flex;
        justify-content: space-between;
        .persona{
            width: 20%;
            background: #ffff;
            border-radius:12px;
            overflow: hidden;
            box-shadow: 5px 5px 10px $grisOscuro;
            .foto{
                width: 100%;
                img{
                    width: 100%;
                }
            }
            .texto{
                padding: 5px;
                .name{
                    font-weight: 600;
                }
                .job{
                    font-weight: 300;
                    color:$azul;
                }
            }
        }
    }
}