.frecuentes{
    width: 100%;
    .titulo{
        width: 80%;
        margin:auto;
        font-weight: 600;
        font-size: 22px;
        margin-top:20px;
        margin-bottom:20px;
        p{
            color:$azul;
            text-align: center;
        }
    }
    .questions{
        width: 65%;
        margin:auto;
        .container{
            width: 100%;
            .pregunta{
                width: 65%;
                margin:auto;
                background: $grisClaro;
                border-radius: 12px;
                padding:12px;
                display:flex;
                margin-bottom: 22px;
                .usuario{
                    font-size: 28px;
                    padding:4px 8px;
                }
                .info{
                    .preguntaUser{
                        width: 100%;
                        padding:12px;
                        border-radius:12px;
                        background: $gris;
                        margin-bottom:12px;
                        p{
                            font-size: 20px;
                        }
                    }
                    .respuesta{
                        width: 100%;
                        padding:12px;
                        border-radius:12px;
                        background: $azul;
                        p{
                            font-size: 20px;
                        }
                    }
                }
                .we{
                    align-self: flex-end;
                    font-size: 28px;
                    padding:4px 8px;
                }
            }
        }
    }
}