header{
    width: 100%;
    background: $blanco;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 2;
    ul{
        width: 98%;
        margin: auto;
        list-style: none;
        display: flex;
        justify-content: space-between;
        a{
            text-decoration: none;
            color:$azul;
            display: block;
            padding: 12px;
            &:hover{
                background: $azul;
                color: $blanco;
            }
        }
        .datos, .menu{
            .logo{
                font-weight: 600;
                a{
                    color:$gris;
                    font-size: 20px;
                    &:hover{
                        background: $blanco;
                    }
                }
            }
            display: flex;
            button{
                visibility: hidden;
                opacity: 0;
            }
            li{
                margin: 0px 12px;
            }
            
        }
    
    }
}