@media screen and(max-width: 970px){
    .about{
        .informacion{
            flex-wrap: wrap;
            .texto{
                width: 90% !important;
                margin:auto;
            }
            .discurso{
                width: 80%;
                height: 35%;
                margin: auto;
                iframe{
                    width:80%;
                    height:35%; 
                }
            }
        }
    
    }
}

@media screen and(max-width: 841px){
    header{
        ul{
            flex-direction: column;
        }
        .datos,.menu{
            justify-content: center;
        }
    }
    .equipo{
        .titulo{
            font-size: 20px;
        }
    }
    .informacion{
        .info{
            flex-direction: column;
            .texto{
                width: 90%;
                padding: 12px;
                margin:auto;
                p{
                    text-align: center;
                    font-size: 18px;
                }
            }
        }
    }
    .frecuentes{
        .questions{
            width: 95% !important;
            margin:auto;
            .container{
                width: 100%;
                .pregunta{
                    width: 85% !important;
                }
            }
        }
    }
}

@media screen and(max-width: 690px){
    header{
        ul{
            flex-direction: column;
        }
        .datos{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            .logo{
                width: 100%;
                text-align: center;
            }
            li{
                button{
                    position: absolute;
                    visibility: visible;
                    opacity: 1;
                    background: $blanco;
                    font-size: 20px;
                    border:none;
                    margin-top: 10px;
                }
            }
        }   
        .menu{
            flex-direction: column;
            visibility: hidden;
            opacity: 0;
            height: 0px;
        }
    }
    .imagePrincipal{
        .texto{
            width: 50%;
            transform: translate(50%);
            p{
                font-size: 18px;
            }
        }
    }
    .app{
        .titulo{
            font-size: 20px;
        }
        .detalles{
            width: 90%;
            .texto{
                font-size: 15px;
            }
        }
    }
    .equipo{
        .titulo{
            font-size: 15px;
        }
        .personas{
            flex-wrap: wrap;
            .persona{
                width: 40%;
                margin-bottom: 15px;
                .texto{
                    padding: 5px;
                    .name{
                        font-weight: 400;
                        text-align: center;
                        font-size: 12px;
                    }
                    .job{
                        font-weight: 300;
                        text-align: center;
                        color:$azul;
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .informacion{
        .info{
            .app{
                width: 90%;
            }
        }
    }
    .about{
        .informacion{
            flex-wrap: wrap;
            .texto{
                width: 90% !important;
                margin:auto;
            }
            .discurso{
                width: 100% !important;
                height: 65% !important;
                margin: auto;
                iframe{
                    width:100% !important;
                    height:65% !important; 
                    margin:auto;
                }
            }
        }
    
    }

}

@media screen and(max-width: 400px){
    .imagePrincipal{
        .texto{
            width: 50%;
            transform: translate(50%);
            p{
                font-size: 12px;
            }
            button{
                font-size: 10px;
                padding: 5px 10px;
            }
        }
    }
    .informacion{
        .info{
            .texto{
                p{
                    font-size: 15px;
                }
            }
        }
    }  
}