<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HVT</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <ul>
            <li class="logo"><a href="#"></i> Helen</a></li>
            <div class="container">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="../views/app.html">prueba nuestra app</a></li>
                <li><a href="../views/about.html">sobre nostros</a></li>
                <li><a href="../views/questions.html">Preguntas frecuentes</a></li>
            </div>
        </ul>
    </header>
    <br><br><br><br>
    <div class="informacion">
        <div class="texto">
            <p>
                Por el momento nuestra app sigue en desarrollo <br> 
                Esperala y pruebala para ahorrar tiempo valioso en el momento preciso.
            </p>
        </div>
        <div class="app">
            <div class="principal">
                <img class="inicial"src="../assets/images/mesa_1.png" alt="ventana_1">
            </div>

            <div class="op">
                <img src="../assets/images/mesa_1.png" alt="ventana_1" onclick="imgSlider('../assets/images/mesa_1.png');">
                <img src="../assets/images/mesa_2.png" alt="ventana_2" onclick="imgSlider('../assets/images/mesa_2.png');">
                <img src="../assets/images/mesa_3.png" alt="ventana_3" onclick="imgSlider('../assets/images/mesa_3.png');">
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="name">
                <p>HVT</p>
                <p>El tiempo es vida</p>
            </div>

            <div class="redes">
                <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
            </div>
            
        </div>
    </footer>

    <script src="../scripts/main.js"></script>
</body>
</html>