* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; }

.titulo {
  width: 50%;
  margin: auto; }
  .titulo p {
    font-size: 22px;
    font-weight: 600px;
    color: #1657ce;
    text-align: center; }

header {
  width: 100%;
  background: #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: 4;
  position: fixed; }
  header ul {
    padding: 12px;
    display: flex;
    list-style: none;
    width: 90%;
    margin: auto; }
    header ul .logo {
      font-size: 22px;
      font-weight: 600; }
    header ul li {
      padding: 10px 15px; }
      header ul li:hover {
        background: #1657ce;
        border: none;
        cursor: pointer; }
        header ul li:hover a {
          color: #fff; }
      header ul li a {
        text-decoration: none;
        color: #707070; }
        header ul li a:activate {
          color: #fff; }
    header ul .container {
      display: flex;
      margin-left: 37%; }
      header ul .container li a {
        font-size: 17px; }

.imagePrincipal {
  width: 100%; }
  .imagePrincipal img {
    width: 100%;
    position: absolute;
    z-index: 1; }
  .imagePrincipal .texto {
    z-index: 2;
    position: relative;
    font-weight: 600;
    background: #0000006b;
    width: 40%;
    margin: auto;
    border-radius: 12px;
    padding: 12px;
    top: 200px;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.8); }
    .imagePrincipal .texto p {
      color: #fff;
      font-size: 30px;
      text-align: center; }
    .imagePrincipal .texto button {
      background: #1657ce;
      border: none;
      border-radius: 12px;
      color: #fff;
      padding: 8px 15px;
      margin: auto;
      margin-top: 10px;
      text-align: center; }
      .imagePrincipal .texto button:hover {
        background: #0147c9;
        cursor: pointer; }

.app {
  width: 100%;
  background: #fff;
  margin-top: 650px; }
  .app .titulo {
    width: 50%;
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
    font-weight: 600;
    font-size: 22px; }
  .app .detalles {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap; }
    .app .detalles .texto {
      width: 30%;
      font-size: 20px;
      margin-right: 12px; }
    .app .detalles .imagen {
      width: 50%;
      display: flex; }
      .app .detalles .imagen img {
        width: 40%;
        margin: auto;
        margin-right: 18px; }

.equipo {
  width: 100%;
  background: #fff;
  top: 100px;
  position: relative;
  z-index: 2; }
  .equipo .titulo {
    width: 50%;
    margin: auto;
    margin-bottom: 20px; }
    .equipo .titulo p {
      text-align: center;
      font-size: 22px; }
    .equipo .titulo .sub {
      font-size: 18px;
      font-weight: 300;
      color: #707070; }
  .equipo .personas {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end; }
    .equipo .personas .persona {
      width: 20%;
      background: #f7f7f7;
      margin-left: 30px;
      margin-right: 30px;
      margin-bottom: 20px;
      border-radius: 15px;
      overflow: hidden;
      box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.6); }
      .equipo .personas .persona .foto {
        width: 100%;
        overflow: hidden; }
        .equipo .personas .persona .foto img {
          max-width: 100%; }
      .equipo .personas .persona .texto {
        padding: 10px; }
        .equipo .personas .persona .texto .name {
          font-weight: 600;
          font-size: 18px; }
        .equipo .personas .persona .texto .job {
          font-weight: 300;
          color: #1657ce; }

footer {
  width: 100%;
  padding: 10px;
  margin-top: 100px;
  background: #000; }
  footer .container {
    width: 90%;
    display: flex;
    flex-direction: column; }
    footer .container .name {
      color: #fff;
      width: 50%;
      margin: auto;
      font-size: 15px;
      font-weight: 400;
      text-align: center; }
    footer .container .redes {
      width: 50%;
      margin: auto;
      text-align: center;
      margin-top: 10px; }
      footer .container .redes a {
        color: #fff;
        font-size: 20px;
        margin: 0px 10px; }
        footer .container .redes a:activate {
          color: #fff; }
        footer .container .redes a:hover {
          color: #1657ce; }

.informacion {
  width: 100%;
  padding: 20px;
  display: flex; }
  .informacion .texto {
    width: 40%; }
  .informacion .app {
    width: 50%;
    margin: auto;
    display: flex; }
    .informacion .app .principal {
      width: 40%;
      margin: auto; }
      .informacion .app .principal img {
        width: 100%; }
    .informacion .app .op {
      width: 55%;
      margin: auto;
      display: flex;
      flex-wrap: wrap; }
      .informacion .app .op img {
        width: 28%;
        margin: auto;
        cursor: pointer; }
        .informacion .app .op img:hover {
          position: relative;
          bottom: 8px; }
  .informacion .discurso {
    width: 50%;
    margin: auto;
    background: #000; }
    .informacion .discurso video {
      width: 100%; }

.video {
  width: 100%;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5); }

.video .vjs-control-bar {
  background: #f4f4f4;
  color: #2d5f85; }

.video .vjs-play-progress,
.video .vjs-volume-level {
  background: #1d87d8; }

.video .vjs-slider {
  background: #2d5f85; }

.video-js:hover .vjs-big-play-button {
  background: rgba(0, 0, 0, 0.2); }

.video .vjs-big-play-button {
  background: rgba(0, 0, 0, 0.2);
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 100%;
  border: none; }

.video .vjs-big-play-button:hover {
  background: rgba(0, 0, 0, 0.5); }

@media screen and (max-width: 1340px) {
  header ul {
    width: 100%; }
    header ul li {
      padding: 10px 20px; }
    header ul .container {
      display: flex;
      margin-left: 20%; }

  .equipo .personas .persona {
    width: 20%;
    background: #f7f7f7;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px; }

  .app {
    margin-top: 550px; } }
@media screen and (max-width: 1067px) {
  header ul {
    width: 100%; }
    header ul li {
      padding: 10px 10px; }
    header ul .container {
      display: flex;
      margin-left: 15%; }
      header ul .container li a {
        font-size: 15px; }

  .app {
    margin-top: 450px; } }
@media screen and (max-width: 965px) {
  .imagePrincipal .texto {
    z-index: 2;
    position: relative;
    font-weight: 600;
    background: #0000006b;
    width: 40%;
    margin: auto;
    border-radius: 12px;
    padding: 12px;
    top: 80px;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.8); }
    .imagePrincipal .texto p {
      color: #fff;
      font-size: 30px;
      text-align: center; }
    .imagePrincipal .texto button {
      background: #1657ce;
      border: none;
      border-radius: 12px;
      color: #fff;
      padding: 8px 15px;
      margin: auto;
      margin-top: 10px;
      text-align: center; }
      .imagePrincipal .texto button:hover {
        background: #0147c9;
        cursor: pointer; }

  .app {
    margin-top: 350px; } }
@media screen and (max-width: 800px) {
  .imagePrincipal .texto {
    z-index: 2;
    position: relative;
    font-weight: 600;
    background: #0000006b;
    width: 40%;
    margin: auto;
    border-radius: 12px;
    padding: 12px;
    bottom: 200px;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.8); }

  header ul {
    display: flex;
    flex-direction: column;
    align-content: flex-end; }
    header ul .logo {
      font-size: 22px;
      font-weight: 600;
      text-align: center; }
    header ul .container {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      margin-left: 0px; }
      header ul .container li {
        margin: auto; }

  .imagePrincipal .texto {
    font-weight: 400;
    background: #0000006b;
    width: 60%;
    margin: auto;
    border-radius: 12px;
    padding: 12px;
    top: 200px;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.8); }
    .imagePrincipal .texto p {
      color: #fff;
      font-size: 25px;
      text-align: center; }
    .imagePrincipal .texto button {
      background: #1657ce;
      border: none;
      border-radius: 12px;
      color: #fff;
      padding: 8px 15px;
      margin: auto;
      margin-top: 10px;
      text-align: center; }
      .imagePrincipal .texto button:hover {
        background: #0147c9;
        cursor: pointer; }

  .app {
    margin-top: 250px; } }
.questions {
  width: 100%; }
  .questions .container {
    width: 80%;
    margin: auto; }
    .questions .container .pregunta {
      width: 70%;
      margin: auto;
      border: 1px solid #1657ce;
      border-radius: 12px;
      display: flex;
      margin-bottom: 15px; }
      .questions .container .pregunta .usuario, .questions .container .pregunta .we {
        font-size: 35px;
        padding: 12px; }
      .questions .container .pregunta .info {
        width: 100%; }
        .questions .container .pregunta .info .preguntaUser, .questions .container .pregunta .info .respuesta {
          width: 50%;
          padding: 10px;
          font-size: 18px;
          background: #707070;
          border-radius: 12px;
          margin: 8px; }
        .questions .container .pregunta .info .respuesta {
          transform: translateX(100%);
          background: #1657ce;
          color: #fff; }
      .questions .container .pregunta .we {
        float: left;
        transform: translateY(45%); }

/*# sourceMappingURL=style.css.map */
