* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; }

button {
  cursor: pointer; }

.visible {
  visibility: visible !important;
  opacity: 1 !important;
  height: auto !important; }

.up {
  font-weight: 600; }

header {
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 2; }
  header ul {
    width: 98%;
    margin: auto;
    list-style: none;
    display: flex;
    justify-content: space-between; }
    header ul a {
      text-decoration: none;
      color: #005CB9;
      display: block;
      padding: 12px; }
      header ul a:hover {
        background: #005CB9;
        color: #FFFFFF; }
    header ul .datos, header ul .menu {
      display: flex; }
      header ul .datos .logo, header ul .menu .logo {
        font-weight: 600; }
        header ul .datos .logo a, header ul .menu .logo a {
          color: #706E6F;
          font-size: 20px; }
          header ul .datos .logo a:hover, header ul .menu .logo a:hover {
            background: #FFFFFF; }
      header ul .datos button, header ul .menu button {
        visibility: hidden;
        opacity: 0; }
      header ul .datos li, header ul .menu li {
        margin: 0px 12px; }

.imagePrincipal {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .imagePrincipal img {
    width: 100%; }
  .imagePrincipal .texto {
    width: 30%;
    padding: 12px;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 12px;
    transform: translateX(120%); }
    .imagePrincipal .texto p {
      text-align: center;
      color: #fff;
      margin: 12px 0px;
      font-size: 22px; }
    .imagePrincipal .texto button {
      width: 100%;
      border: none;
      padding: 8px 12px;
      background: #005CB9;
      color: #FFFFFF;
      text-align: center;
      border-radius: 8px; }

.app {
  width: 95%;
  margin: auto; }
  .app .titulo {
    text-align: center;
    font-weight: 600;
    font-size: 25px;
    padding: 12px; }
    .app .titulo p {
      color: #005CB9; }
  .app .detalles {
    width: 85%;
    margin: auto; }
    .app .detalles .texto {
      font-size: 20px;
      text-align: center;
      padding: 12px;
      line-height: 30px; }
    .app .detalles .imagen {
      width: 100%;
      margin-top: 10px;
      display: flex;
      justify-content: space-between; }
      .app .detalles .imagen img {
        width: 30%; }

.equipo {
  width: 90%;
  margin: auto;
  margin-bottom: 20px; }
  .equipo .titulo {
    text-align: center;
    font-weight: 600;
    font-size: 25px;
    padding: 12px;
    margin: 12px 0px; }
    .equipo .titulo p {
      color: #005CB9; }
  .equipo .personas {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .equipo .personas .persona {
      width: 20%;
      background: #ffff;
      border-radius: 12px;
      overflow: hidden;
      box-shadow: 5px 5px 10px #333333; }
      .equipo .personas .persona .foto {
        width: 100%; }
        .equipo .personas .persona .foto img {
          width: 100%; }
      .equipo .personas .persona .texto {
        padding: 5px; }
        .equipo .personas .persona .texto .name {
          font-weight: 600; }
        .equipo .personas .persona .texto .job {
          font-weight: 300;
          color: #005CB9; }

footer {
  width: 100%;
  padding: 12px;
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  footer p {
    color: #FFFFFF;
    text-align: center; }
  footer .redes {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center; }
    footer .redes a {
      margin: 8px;
      color: #fff;
      font-size: 20px; }
      footer .redes a:active {
        color: #fff; }
      footer .redes a:hover {
        color: #005CB9; }

.informacion {
  width: 100%; }
  .informacion .titulo {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px; }
    .informacion .titulo p {
      color: #005CB9;
      font-size: 22px;
      text-align: center;
      font-weight: 600; }
  .informacion .info {
    width: 95%;
    margin: auto;
    display: flex; }
    .informacion .info .texto {
      width: 40%;
      padding: 12px; }
      .informacion .info .texto p {
        font-size: 20px;
        line-height: 30px; }
    .informacion .info .app {
      width: 60%;
      display: flex;
      justify-content: space-between;
      padding: 12px; }
      .informacion .info .app .principal {
        width: 40%; }
        .informacion .info .app .principal img {
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
          width: 100%; }
      .informacion .info .app .op {
        width: 60%;
        display: flex;
        padding: 12px;
        overflow: hidden;
        flex-wrap: wrap;
        justify-content: space-between; }
        .informacion .info .app .op img {
          width: 25%;
          height: 40%;
          transform: translateY(70%);
          cursor: pointer; }
          .informacion .info .app .op img:hover {
            position: relative;
            bottom: 10px; }

.about {
  width: 100%; }
  .about .titulo {
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 22px; }
    .about .titulo p {
      color: #005CB9;
      font-weight: 600;
      font-size: 22px; }
  .about .informacion {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between; }
    .about .informacion .texto {
      width: 65%;
      padding: 12px; }
      .about .informacion .texto p {
        line-height: 30px; }
    .about .informacion .discurso {
      width: 560px;
      height: 515px;
      margin: auto; }
      .about .informacion .discurso iframe {
        width: 560px;
        height: 315px; }

.frecuentes {
  width: 100%; }
  .frecuentes .titulo {
    width: 80%;
    margin: auto;
    font-weight: 600;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 20px; }
    .frecuentes .titulo p {
      color: #005CB9;
      text-align: center; }
  .frecuentes .questions {
    width: 65%;
    margin: auto; }
    .frecuentes .questions .container {
      width: 100%; }
      .frecuentes .questions .container .pregunta {
        width: 65%;
        margin: auto;
        background: #DEDEDE;
        border-radius: 12px;
        padding: 12px;
        display: flex;
        margin-bottom: 22px; }
        .frecuentes .questions .container .pregunta .usuario {
          font-size: 28px;
          padding: 4px 8px; }
        .frecuentes .questions .container .pregunta .info .preguntaUser {
          width: 100%;
          padding: 12px;
          border-radius: 12px;
          background: #706E6F;
          margin-bottom: 12px; }
          .frecuentes .questions .container .pregunta .info .preguntaUser p {
            font-size: 20px; }
        .frecuentes .questions .container .pregunta .info .respuesta {
          width: 100%;
          padding: 12px;
          border-radius: 12px;
          background: #005CB9; }
          .frecuentes .questions .container .pregunta .info .respuesta p {
            font-size: 20px; }
        .frecuentes .questions .container .pregunta .we {
          align-self: flex-end;
          font-size: 28px;
          padding: 4px 8px; }

@media screen and (max-width: 970px) {
  .about .informacion {
    flex-wrap: wrap; }
    .about .informacion .texto {
      width: 90% !important;
      margin: auto; }
    .about .informacion .discurso {
      width: 80%;
      height: 35%;
      margin: auto; }
      .about .informacion .discurso iframe {
        width: 80%;
        height: 35%; } }
@media screen and (max-width: 841px) {
  header ul {
    flex-direction: column; }
  header .datos, header .menu {
    justify-content: center; }

  .equipo .titulo {
    font-size: 20px; }

  .informacion .info {
    flex-direction: column; }
    .informacion .info .texto {
      width: 90%;
      padding: 12px;
      margin: auto; }
      .informacion .info .texto p {
        text-align: center;
        font-size: 18px; }

  .frecuentes .questions {
    width: 95% !important;
    margin: auto; }
    .frecuentes .questions .container {
      width: 100%; }
      .frecuentes .questions .container .pregunta {
        width: 85% !important; } }
@media screen and (max-width: 690px) {
  header ul {
    flex-direction: column; }
  header .datos {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; }
    header .datos .logo {
      width: 100%;
      text-align: center; }
    header .datos li button {
      position: absolute;
      visibility: visible;
      opacity: 1;
      background: #FFFFFF;
      font-size: 20px;
      border: none;
      margin-top: 10px; }
  header .menu {
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    height: 0px; }

  .imagePrincipal .texto {
    width: 50%;
    transform: translate(50%); }
    .imagePrincipal .texto p {
      font-size: 18px; }

  .app .titulo {
    font-size: 20px; }
  .app .detalles {
    width: 90%; }
    .app .detalles .texto {
      font-size: 15px; }

  .equipo .titulo {
    font-size: 15px; }
  .equipo .personas {
    flex-wrap: wrap; }
    .equipo .personas .persona {
      width: 40%;
      margin-bottom: 15px; }
      .equipo .personas .persona .texto {
        padding: 5px; }
        .equipo .personas .persona .texto .name {
          font-weight: 400;
          text-align: center;
          font-size: 12px; }
        .equipo .personas .persona .texto .job {
          font-weight: 300;
          text-align: center;
          color: #005CB9;
          font-size: 12px; }

  .informacion .info .app {
    width: 90%; }

  .about .informacion {
    flex-wrap: wrap; }
    .about .informacion .texto {
      width: 90% !important;
      margin: auto; }
    .about .informacion .discurso {
      width: 100% !important;
      height: 65% !important;
      margin: auto; }
      .about .informacion .discurso iframe {
        width: 100% !important;
        height: 65% !important;
        margin: auto; } }
@media screen and (max-width: 400px) {
  .imagePrincipal .texto {
    width: 50%;
    transform: translate(50%); }
    .imagePrincipal .texto p {
      font-size: 12px; }
    .imagePrincipal .texto button {
      font-size: 10px;
      padding: 5px 10px; }

  .informacion .info .texto p {
    font-size: 15px; } }

/*# sourceMappingURL=style.css.map */
